h1 {
    text-align: center;
    color: green;
    font-family: sans-serif;
}

#concepto, #imagen, #video {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: auto;
    display: inline-block;
}

